
{% extends "base_menu.html" %}
{% load static %}
{% load mathfilters %}


{% block go %}


  


       
<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">
              
             

              <iclass="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>

          
       {% for j in cart %}


   
              

  

        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="{{j.product_name.product_image.url}}"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">

                <p class="lead fw-normal mb-2">
                  
                  {{j.product_name.product_name}}
                 
                </p>
                
                <p><span class="text-muted">description :</span> {{j.product_name.description}} <span class="text-muted"> </span></p>
                
                <p><span class="text-muted">Prepared by :</span> {{j.prepared_by}} <span class="text-muted"> </span></p>
              </div>
              

      
         
  <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                
        <form action="" class="col-2 " method="POST">
         {% csrf_token %}  
                
                <input hidden type="text" name='remove' value='{{j.id}}'>
								{% comment %} <input hidden type="text" name='remove' value='True'> {% endcomment %}
								<input type="submit" value="−">
      </form>            
<div class="p-2" > 
</div>
  <div class="mx-auto"  >{{ j.quantity}}
</div>


      <form action="" class="col-2 " method="POST">
         {% csrf_token %}  
         

              <input hidden type="text" name='add' value='{{j.id}}'>
								<input type="submit" value="+">
                  
                {% comment %} <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button> {% endcomment %}

      </form> 


</div>













{% if j.quantity == 1 %} 

{% comment %} {% widthratio A 1 B %} {% endcomment %}
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0"> {{j.product_name.product_price}}</h5>
               
              </div>

{% else %}
 <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                 <h5 class="mb-0"> {{j.price}}</h5>
               
              </div>
              {% comment %} <h1> 6 * 6 = {{6|mul:6}} </h1> {% endcomment %}
{% endif %}

              <div class="col-md-1 col-lg-1 col-xl-1 text-end">

                <a href="{% url "del" j.id %}" class="text-danger"><i class="bi bi-trash red-color"></i></a>
              </div>
            </div>
          </div>

          <h1 class="mb-0"> {{j.id}}</h1>

        

         

  

        </div>
  

     
   
          
    {% endfor %}
{% comment %}         
    {% endfor %}
      {% else %}
   <h3> no items in your cart </h3>
      {% endif %} {% endcomment %}

      {% comment %} <tr class="danger" colspan= '4'> {% endcomment %}
     

 <h1><div  class="mx-auto" style="width:40px;">Total: Rs  {{ d.dy}}   </div></h1>

  {% comment %} <div class="px-2" colspan="6">Flex item 1</div> {% endcomment %}
             

{% comment %} </tr> {% endcomment %}
          {% comment %} <h2 colspan= '4'>Total: </h2> {% endcomment %}
           {% comment %} <input id="form1" min="0" name="quantity" value={{j.product_qty}} type="number"
                  class="form-control form-control-sm" /> {% endcomment %}
  </div>

           
   


  
        <div class="card mb-4">
          {% comment %} <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              <input type="text" id="form1" class="form-control form-control-lg" />
              <label class="form-label" for="form1">Discound code</label>
            </div>
            <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
          </div> {% endcomment %}
        </div>

        <div class="card">
          <div class="card-body">
            <a href="{% url 'check' %}"><button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button></a>
          </div>
        </div>
 </div>
  </div>
  </div> 
</section>  

</body>
       


  <script type="text/javascript">
  {% if messages %}
    {% for message in messages %}
      swal("{{message}}");
    {% endfor %}
  {% endif %}
</script>


</html>

 {% endblock go %}
